.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  text-align: center;
}

.about {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  padding: 3rem;
  transition: all 0.3s;
  text-align: left;
}
.about > h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.about p {
  color: gray;
  margin-top: 0;
  margin-bottom: 1rem;
}
